.header-sm {
  font-family: suisse-intl;
  position: fixed;
  z-index: 20;
  display: flex;
  align-items: flex-end;
  top: 0vh;
  height: 5.5vh;
  font-size: 1.7vw;
  background-color: #ffffff;
  color: #000000;
}

.header-sm a:hover {
  color: #ff0c0f;
}

/* classe creata per centrare il video al centro */
.proj {
  border-radius: 0px;
  padding: 0.8vw;
  margin: 0;
  display: flex;
  column-gap: 2vw;
  position: relative;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.proj-scheda {
  color: #ffffff;
  position: relative;
  top: 5vh;
  padding-top: 0.8vh;
  min-height: 22.5vh;
  height: auto;
  background-color: #ff0c0f;
  z-index: 2;
  overflow-y: scroll;
  line-height: 100%;
}

.proj-scheda::-webkit-scrollbar {
  display: none;
}

.showreel-proj {
  position: relative;
  padding-top: 5vh;
  height: 75vh;
  width: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gallery-proj {
  position: relative;
  padding-top: 5vh;
  width: 100%;
  padding-bottom: 0.8vw;
  background-color: black;
}

.credit {
  text-align: right;
}

.linea {
  column-gap: 0.8vw;
  padding: 0.8vw;
  padding-bottom: 0;
}

.bg-video-proj {
  border-radius: 0px;
  background-color: black;
  height: 33vw;
}

/* Css video, classe chiamata  */

.proj-video {
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  /* Controllare questo */
  /* height: 33vw; */
  height: 100%;
  display: flex;
  align-items: center;
}

.vimeo-proj {
  position: relative;
  transform-origin: middle;
  height: 100%;
  top: 0%;
}

.img-proj {
  border-radius: 0px;
  height: 33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  background-size: auto 110%;
}

.img-proj-vert {
  border-radius: 0px;
  height: 33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  object-fit: fill;
  background-size: 100%;
}

.img-proj-scheda {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  width: 70vw;
  object-fit: contain;
  overflow-x: hidden;
}

.img-proj-scheda-full {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  width: 100vw;
  height: auto;
  object-fit: contain;
  overflow-x: hidden;
}

.video-proj-scheda {
  position: relative;
  width: 50vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.video-proj-scheda-full {
  position: relative;
  height: auto;
  padding-top: 5vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Video con sfondo nero */

#videoMq {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
}

#videoJet {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.about-scheda {
  color: #000000;
  position: fixed;
  top: 5vh;
  padding-top: 2vh;
  z-index: 2;
  height: auto;
}

.about-scheda-p {
  font-size: 1.2rem;
  line-height: 100%;
}

.about-scheda a {
  color: #000000;
}

.about-scheda a:hover {
  color: #ff0000;
}

.about-photo {
  height: 100vh;
}

/* Link */

a {
  color: #ffffff;
}



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* Frecce per andare ai proj successivi */
.arrows {
  font-size: 1vw;
  position: fixed;
  top: 50%;
  color: #ff0c0f;
}

.arrows.right {
  text-align: right;
}

.arrows a {
  color: #ffffff;
}

.arrows a:hover {
  color: #ff0000;
}

/* Specific for sometimes it happens */
#canvasometimes {
  overflow: hidden;
}
