.header-sm {
  font-family: suisse-intl;
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  top: 0vh;
  height: 5vh;
  font-size: 1.7vw;
  background-color: #ff0c0f;
  color: black;
}

/* classe creata per centrare il video al centro */
.proj {
  display: flex;
  justify-content: center;
}

.proj-scheda {
  color: #000000;
  position: fixed;
  top: 5vh;
  padding-top: 2vh;
  height: 30vh;
  background-color: #dddddd;
  z-index: 2;
  overflow-y: scroll;
  line-height: 100%;
}

.proj-scheda::-webkit-scrollbar {
  display: none;
}

.showreel-proj {
  position: absolute;
  top: 35vh;
  width: 100%;
  height: 65vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-proj {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: auto;
  padding-bottom: 0.8vw;
  background-color: black;
}

.credit {
  text-align: right;
}

.linea-proj {
  column-gap: 0.8vw;
  padding: 0.8vw;
  padding-bottom: 0;
}

.bg-video-proj {
  border-radius: 10px;
  background-color: black;
  height: 31vw;
}

.vimeo-proj {
  position: relative;
  transform-origin: middle;
  height: 100%;
  top: 0%;
}

.img-proj {
  border-radius: 10px;
  height: 31vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  background-size: auto 110%;
}

.img-proj-vert {
  border-radius: 10px;
  height: 31vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  object-fit: fill;
  background-size: 100% auto;
}

.img-proj-scheda {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  height: 90%;
}

.video-proj-scheda {
  position: relative;
  width: 40vw;
}

#videoMq {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}
