.header-sm {
  font-family: suisse-intl;
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: flex-end;
  top: 0vh;
  height: 5vh;
  background-color: #ff0c0f;
  color: #000000;
  font-size: 1rem;
  margin-right: 0;
  width: 100vw;
  bottom: 0;
}

.header-sm a {
  color: #ffffff;
}

/* classe creata per centrare il video al centro */
.proj {
  border-radius: 0px;
  padding: 0.8vw;
  margin: 0;
  display: flex;
  column-gap: 2vw;
  position: relative;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.proj-scheda {
  color: #ffffff;
  position: relative;
  top: 5vh;
  padding-top: 0.8vh;
  height: auto;
  background-color: transparent;
  z-index: 2;
  overflow-y: scroll;
  line-height: 100%;
  mix-blend-mode: difference;
}

.proj-scheda::-webkit-scrollbar {
  display: none;
}

.showreel-proj {
  position: relative;
  margin-top: 10vh;
  padding: 0;
  height: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-proj {
  position: relative;
  margin-top: 0vh;
  width: 100%;
  padding-bottom: 0.8vw;
  background-color: black;
}

.credit {
  text-align: left;
}

.linea {
  column-gap: 0.8vw;
  padding: 0.8vw;
  padding-bottom: 0;
}

.bg-video-proj {
  border-radius: 0px;
  background-color: black;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vimeo-proj {
  position: relative;
  transform-origin: middle;
  width: 100vw;
  top: 0%;
}

.img-proj {
  border-radius: 0px;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  object-fit: fill;
  background-size: auto 110%;
}

.proj-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.proj-video-oriz {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.img-proj-vert {
  border-radius: 0px;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  background-size: 100%;
}

.img-proj-scheda {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  width: 90%;
  overflow-x: hidden;
}

.video-proj-scheda {
  position: relative;
  width: 80vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.video-proj-scheda-full {
  position: relative;
  height: max-content;
  width: 100vw;
  overflow-x: hidden;
}

.video-proj-scheda-full {
  position: relative;
  height: max-content;

  width: 100vw;
  overflow-x: hidden;
}

/* Video con sfondo nero */

#videoMq {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}

#videoJet {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
}

#videoMq {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

.about-scheda {
  color: #000000;
  position: fixed;
  top: 5vh;
  padding-top: 2vh;
  background-color: #ffffff;
  z-index: 2;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 20vh;
}

.about-scheda-p {
  font-size: 1rem;
  line-height: 100%;
}

.about-photo {
  height: 100vh;
}

/* Link */

a {
  color: #ffffff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* Frecce per andare ai proj successivi */
.arrows {
  font-size: 1.5vh;
  position: fixed;
  top: 50%;
  color: #0000ff;
}

.arrows.right {
  text-align: right;
}

.arrows.a {
  color: #ffffff;
}

.arrows.a:visited {
  background-color: #0000ff;
  text-decoration: none;
}

/* Specific for sometimes it happens */
#canvasometimes {
  overflow: hidden;
}

.about-scheda a {
  color: #000000;
}

.nome-ab {
  position: absolute;
  height: auto;
  bottom: 0;
  width: 100%;
  font-size: 1.2rem;
}
