@font-face {
  font-family: suisse-intl;
  src: url(assets/font/SuisseIntl-Regular.otf);
}

.body {
  font-family: suisse-intl;
  padding: 0;
}

.body::-webkit-scrollbar {
  display: none;
}

.header {
  font-family: suisse-intl;
  padding: 0.8vh;
  margin-top: 0vh;
  position: fixed;
  z-index: 20;
  top: 0;
  height: 20vh;
  background-color: #ff0c0f;
  color: white;
}

.info {
  position: absolute;
  font-size: 1rem;
  line-height: 100%;
  margin-right: 0;
}

.nome {
  position: absolute;
  font-size: 1rem;
  margin-right: 0;
  width: 100vw;
  padding: 0;
  bottom: 0;
}




.center {
  text-align: center;
  padding: 0;
}

.contatti {
  text-align: left;
  margin-right: 0;
}

.right {
  text-align: right;
  padding-right: 0;
}

.left {
  text-align: left;
}

.hp-proj-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  object-fit: cover;
  height: 50vh;
}

.video-homepage {
  position: relative;
  background-color: black;
  display: none;
  margin-top: 20vh;
  width: 100vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-introhome {
  position: relative;
  height: 100%;
}

.project {
  position: relative;

  margin-top: 20vh;
  padding: 2 vw;
  height: auto;
  width: 100vw;
  padding-bottom: 0.8vw;
  overflow-x: hidden;
}

/* schede progetti */

.linea {
  margin-top: 0vw;
  padding: 0vw;
  padding-bottom: 0vw;
  margin-bottom: 0vw;
  column-gap: 0.8vw;
}

.proj {
  /* border-radius: 20px; */
  padding: 5vw;
  margin-right: 0;
  margin-bottom: 0vw;
  display: flex;
  column-gap: 2vw;
  position: relative;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.infogen {
  position: relative;
  height: 100%;
}

.proj-title {
  font-size: 2vw;
  position: absolute;
  display: flex;
  top: 2vh;
}

.proj-info {
  position: absolute;
  display: flex;
  bottom: 2vh;
  width: 100%;
  align-self: flex-end;
}

/* Link */

a {
  color: white;
}

.linkheader {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
