@font-face {
  font-family: suisse-intl;
  src: url(assets/font/SuisseIntl-Regular.otf);
}

.body {
  font-family: suisse-intl;
  overflow-y: scroll;
}

.body::-webkit-scrollbar {
  display: none;
}

.header {
  font-family: suisse-intl;
  padding: 0.8vw;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 20vh;
  font-size: 2.2rem;
  background-color: #ff0c0f;
  color: #ffffff;
}

.nome {
  position: absolute;
  bottom: 0;
  width: 100%;

  font-size: 2rem;
}

.nome-ab {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ff0c0f;
  font-size: 2rem;
}

.info {
  font-size: 1.2rem;
  line-height: 105%;
}

.center {
  text-align: center;
}

.contatti {
  text-align: right;
}

.right {
  text-align: right;
}

.video-homepage {
  position: relative;
  background-color: black;
  margin-top: 20vh;
  height: 80vh;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-introhome {
  position: relative;
  width: 100%;
}

.project {
  position: relative;
  margin-top: 20vh;
  padding: 0vw;
  height: auto;
  width: 100%;
  padding-bottom: 0vw;
  overflow-x: hidden;
}

.project::-webkit-scrollbar {
  display: none;
}

/* schede progetti */

.linea {
  padding: 0vw;
  margin: 0vw;
  margin-bottom: 0vw;
  column-gap: 0vw;
}

.proj {
  border-radius: 0px;
  padding: 0.8vw;
  margin: 0;
  display: flex;
  column-gap: 2vw;
  position: relative;
  /* background-color: aquamarine; */
  height: 33vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.infogen {
  position: relative;
  height: 100%;
}

.proj-title {
  font-size: 2vw;
  position: absolute;
  display: flex;
  top: 2vh;
}

.proj-info {
  position: absolute;
  display: flex;
  bottom: 2vh;
  width: 100%;
  align-self: flex-end;
}

.hp-proj-video {
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 33vw;
}

/* Link */

a {
  color: white;
}

.linkheader {
  color: #ffffff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
